/* This file is for your main application css. */

@import "./phoenix.css";

html,body {
  margin: 0px;
  height: 100%;
  min-height:100%;
}

header {
  background-color: #5bc0de;
}

header img {
  margin-left: auto;
	margin-right: auto;
	display: block;
  padding-top: 10px;
  margin-bottom: 10px;
}

#main-app {
  margin-left: auto;
	margin-right: auto;
	display: block;

  padding-top: 25px;
}

#main-app h1 {
  font-weight: bold;
}

#main-app .icon {
  margin-left: auto;
  margin-right: auto;

  width: 350px;
  height: 350px;
  border-style: solid;
  border-radius: 10px;
  text-align: center;
}

#main-app .icon span {
  padding: 10px;
  font-size: 300px;
}

#main-app .selected-food-display h1 {
  margin-bottom: 5px;
  font-size: 30px;
}

#main-app .selected-food-display label {
  font-weight: 500;
  letter-spacing: 1px;
}

.typeahead-selector {
  margin-top: 7px;
  border-radius: 3px;
  border-style: solid;
  border: 0.7px solid;
  box-shadow: 3px 5px 17px #888888;
  list-style-type: none;
}

.typeahead-selector li {
  margin-bottom: 0px;
  font-size: 25px;
  border-bottom: 0.1px solid black;
}

@media only screen and (max-width: 600px) {
  #main-app .icon {
    width: 150px;
    height: 150px;
  }

  #main-app .icon span {
    font-size: 125px;
  }

  #main-app .selected-food-display label {
    font-size: 10px;
  }

  .typeahead-selector li {
    font-size: 15px;
  }
}

#main-app .selected-food-display {
  margin-left: auto;
  margin-right: auto;

  width: 80%;
  margin-top: 10px;
  text-align: center;
}

#main-app .search-field {
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;

  width: 40%;
}

.typeahead {
  text-align: center;
}

.typeahead input {
  margin-bottom: 0px;
  text-align: center;
}

li.hover {
  background-color: #007bff;
  color: white;
}

li.hover a {
  color: white;
}

