<h1>Listing Foods</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th>Description</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for food <- @foods do %>
    <tr>
      <td><%= food.name %></td>
      <td><%= food.type %></td>
      <td><%= food.description %></td>

      <td>
        <%= link "Show", to: Routes.food_path(@conn, :show, food) %>
        <%= link "Edit", to: Routes.food_path(@conn, :edit, food) %>
        <%= link "Delete", to: Routes.food_path(@conn, :delete, food), method: :delete, data: [confirm: "Are you sure?"] %>
      </td>
    </tr>
<% end %>
  </tbody>
</table>

<span><%= link "New Food", to: Routes.food_path(@conn, :new) %></span>
