<h1>Show Food</h1>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @food.name %>
  </li>

  <li>
    <strong>Type:</strong>
    <%= @food.type %>
  </li>

  <li>
    <strong>Description:</strong>
    <%= @food.description %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.food_path(@conn, :edit, @food) %></span>
<span><%= link "Back", to: Routes.food_path(@conn, :index) %></span>
